<p id="<%= dom_id message %>">
  
  <% if message.user %>
    <strong><%= message.user.username %></strong>:
  <% else %>
    <strong>unknown_user</strong>:
  <% end %>

  <%= message.created_at.to_s(:short) %>
  <br>
  <%= message.content %>
</p>
