<div class="px-5">
  <div class="card p-3 d-flex flex-row" style="">
    <div class="card-img-div">
       <%= gravatar_for current_user, size: 300 %>
    </div>
    <div class="card-body">
      <h2 class="card-title"><!--<%= current_user.username %>--> マハーヴィーラ</h2>
      <p class="card-text">1992/2/29</p>
      <p class="card-text">主婦だったけど、趣味のお菓子作りでお店はじめました。</p>
        <%= link_to edit_user_path(current_user) do%>
          <button class="btn btn-primary">プロフィール変更</button>
        <% end %>
        <%= link_to 'Logout', logout_path, data: { turbo_method: :delete } %>
      </div>
    </div>
  </div>
</div>