<div class="center py-5">
  <div class="circle mx-auto d-flex justify-content-center">
    <p><i class="bi bi-chat-dots px-1"></i></p>
    <p>G2 Talk</p>
  </div>

  <h1>The worlds most widely <br> adopted conversational tool.</h1>

  <h2>
    This is the home page for the
    <a href="https://aiit.ac.jp/">AIIT</a>
    sample application.
  </h2>

  <%= link_to "Sign up! >", sign_up_path, class: "btn btn-primary" %>
</div>

<br>

<div class="d-demo">
  <div class="d-demo__wrap">
    <ul class="d-demo__list d-demo__list--left m-0 p-0">
      <li class="d-demo__item">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2018/02/18/21/18/people-3163556_1280.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Simple</h5>
            <p>G2 is so simple you already know how to use it.</p>
          </div>
        </div>
      </li>
      <li class="d-demo__item">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2019/04/08/08/39/balloons-4111586_1280.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Powerful</h5>
            <p>G2 has no limits on the size of your media and chats.</p>
          </div>
        </div>
      </li>
      <li class="d-demo__item">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2014/09/18/18/19/playmobil-451203_1280.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Secure</h5>
            <p>G2 keeps your messages safe from hacker attacks.。</p>
          </div>
        </div>
      </li>
      <li class="d-demo__item">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2015/11/02/12/31/interview-1018333_1280.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fast</h5>
            <p>G2 delivers messages faster than any other application.</p>
          </div>
        </div>
      </li>
      <li class="d-demo__item">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2015/07/15/03/49/talk-845619_1280.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Synced</h5>
            <p>G2 lets you access your chats from multiple devices.</p>
          </div>
        </div>
      </li>
      <li class="d-demo__item">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2015/12/08/08/43/communication-1082657_1280.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Expressive</h5>
            <p>G2 lets you completely customize your messenger.</p>
          </div>
        </div>
      </li>
    </ul>
    <ul class="d-demo__list d-demo__list--left m-0 p-0">
      <li class="d-demo__item">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2018/02/18/21/18/people-3163556_1280.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Simple</h5>
            <p>G2 is so simple you already know how to use it.</p>
          </div>
        </div>
      </li>
      <li class="d-demo__item">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2019/04/08/08/39/balloons-4111586_1280.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Powerful</h5>
            <p>G2 has no limits on the size of your media and chats.</p>
          </div>
        </div>
      </li>
      <li class="d-demo__item">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2014/09/18/18/19/playmobil-451203_1280.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Secure</h5>
            <p>G2 keeps your messages safe from hacker attacks.</p>
          </div>
        </div>
      </li>
      <li class="d-demo__item">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2015/11/02/12/31/interview-1018333_1280.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fast</h5>
            <p>G2 delivers messages faster than any other application.</p>
          </div>
        </div>
      </li>
      <li class="d-demo__item">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2015/07/15/03/49/talk-845619_1280.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Synced</h5>
            <p>G2 lets you access your chats from multiple devices.</p>
          </div>
        </div>
      </li>
      <li class="d-demo__item">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2015/12/08/08/43/communication-1082657_1280.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Expressive</h5>
            <p>G2 lets you completely customize your messenger.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
