<div class="container">
  <div style="height: 10000px;">
    <% if logged_in? %>
      <h1>Welcome, <%= current_user.email %></h1>
      <%= link_to 'Logout', logout_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to 'Login', login_path %> or <%= link_to 'Sign Up', sign_up_path %>
    <%end%>
  </div>
</div>
