/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
  
input {
  height: auto !important;
}

/* homeページ room */
.icon-circle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.icon-circle img{
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#latest-message{
  color: #a7a7a7;
}

.roomLink{
  text-decoration: none;
}

/* messages */
.message-sent {
  background-color: hwb(120deg 30.02% 25.47%);
  border-radius: 7.5px;
  margin-bottom: 8px;
  padding: 6px 12px;
  max-width: 80%;
  word-wrap: break-word;
}

.message-received {
  background-color: #ffffff;
  border-radius: 7.5px;
  margin-bottom: 8px;
  padding: 6px 12px;
  max-width: 80%;
  word-wrap: break-word;
}

.message-sent,
.message-received {
  display: block;
  font-size: 1em;
  margin-top: 5px;
  text-align: right;
}

.message_timestamp {
  font-size: 0.8em;
  margin-top: 5px;
  text-align: right;
  color: #404040;
}

.message-sent {
  float: right;
  clear: both;
}

.message-received {
  float: left;
  clear: both;
}

/* 配置コンテンツ次第でheightの調整が必要になる。 */
.messages-container {
  height: calc(100vh - 360px);
  overflow-y: auto;
  background-color: #f8f9fa; 
}
