/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
  
input {
  height: auto !important;
}

/* homeページ room */

.icon-circle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.icon-circle img{
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#latest-message{
  color: #a7a7a7;
}

.roomLink{
  text-decoration: none;
}

/* messages */
.message_timestamp {
  font-size: 0.8em;
  margin-top: 5px;
  text-align: right;
  color: #404040;
}

.messages-container {
  background-color: #f8f9fa; 
}

.expiration-time {
  font-size: 1.25em;
}

#message-features {
  height: calc(100vh - 65px); 
}

#messages {
  overflow-y: auto;
  padding: 5px;
}

/* pre-login page */

.center{
  background-color: #ededed;
  width: 100%;
}

.circle{
  width: 150px;
  height: 25px;
  border-radius: 50px;
  border: 2px solid hsl(0, 0%, 0%);
  box-sizing: border-box;
}

.circle p{
  line-height: 20px;
  color: #000;
  font-weight: bold;
}

/* pre-login page loop */

@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.d-demo__wrap {
  display: flex;
  overflow: hidden;
}

.d-demo__list {
  display: flex;
  list-style: none;
}

.d-demo__list--left{
animation :infinity-scroll-left 95s infinite linear 0.5s both;
}

.d-demo__item {
  width: calc(100vw / 6);
}

.card img{
  width: 100%;
  height: 120px;
}

.d-demo__wrap:hover .d-demo__list--left{
  animation-play-state: paused;
}

.d-demo__list li{
  padding-right: 10px;
}

.d-demo__item .card{
  height: 100%;
}

/* Friends List page */

.friendLink{
  text-decoration: none;
}

/* create room page */

label.btn span {
  font-size: 1.5em ;
}

label input[type=checkbox] {
  // デフォルトのチェックボックスを非表示にする
  opacity: 0;
  position: absolute;
  top: -9999px;
}

label input[type=checkbox] ~ i.bi.bi-check2-square{
  display: none;
}

label input[type=checkbox] ~ i.bi.bi-app{
  color: #c8c8c8;
  display: inline;
  font-size: 1.5em;
}

label input[type=checkbox]:checked ~ i.bi.bi-app{
  display: none;
}

label input[type=checkbox]:checked ~ i.bi.bi-check2-square{
  color: #0b5ed7;
  display: inline;
  font-size: 1.5em;
}

label:hover input[type=checkbox] ~ i.bi {
  color: #0b5ed7;
}

div[data-toggle=buttons] label.active {
  color: #0b5ed7;
}

div[data-toggle=buttons] label {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 2em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border: 0px solid #c8c8c8;
  border-radius: 3px;
  color: #c8c8c8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div[data-toggle=buttons] label:active, div[data-toggle=buttons] label.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
